{% extends 'base.html' %}

{% block page_title %} Video Downloader {% endblock %}

{% block page_content %}
<div class="container">

    <div class="text-center mt-5">
        <h2>Pesquise o vídeo que deseja</h2>

        <form class="d-flex justify-content-center mt-3">
            <div class="col-sm-8 col-md-6 col-lg-7">
                <input class="form-control form-control-sm me-2" type="search" placeholder="Funcionalidade em desenvolvimento..." aria-label="Pesquisar" name="search_term">
            </div>
            <button class="btn btn-custom btn-sm mx-3" type="submit" id="btnBuscar" onclick="gtag('event', 'search_button', {'event_category': 'Button','event_label': 'Search Button'});"> Buscar </button>
        </form>

        <div class="my-4">
            <h2 class="text-center">ou</h2>
        </div>
        
        <h2>Baixe seus vídeos e músicas favoritas</h2>

        <!-- Formulario de Busca -->
        <form async method="POST" class="d-flex justify-content-center mt-3">
            {% csrf_token %}
            <div class="col-sm-8 col-md-6 col-lg-5">
                <input class="form-control form-control-sm mb-2" type="text" placeholder="Insira o link do vídeo que deseja baixar" aria-label="Pesquisar" name="video_url" required>
            </div>
            <div class="col-sm-8 col-md-6 col-lg-2">
                <select class="form-select form-select-sm mb-2 mx-3" aria-label="Selecione o formato" name="formato" required>
                    <option selected>Selecione o formato</option>
                    <option value="mp3" selected> MP3 128k</option>
                    <option value="mp4"> MP4 </option>
                    <!--
                    <option value="mp4-720p">MP4 720p</option>
                    <option value="mp4-480p">MP4 480p</option>
                    -->
                </select>
            </div>
            <button class="btn btn-custom btn-sm mx-4" type="submit" onclick="gtag('event', 'download_button', {'event_category': 'Button','event_label': 'Download Button'});">Baixar</button>
        </form>
        <!-- Fim Formulario de Busca -->

        <img class="img-fluid" src="https://img.freepik.com/vetores-premium/pessoas-fazendo-upload-de-arquivos-multimidia-via-computador-musica-e-video-disponiveis-para-download-para-ilustracao-vetorial-plana-de-mulher-e-homem-minusculos-conceito-de-torrent-para-banner-design-de-site-ou-pagina-de-destino_179970-6866.jpg?w=1060" class="img-fluid" width="600" height="450" alt="PEssoas fazendo upload de arquivos multimidia">

    </div>
</div>

{% endblock %}
