{% extends 'base.html' %}

{% block page_title %} Video Downloader {% endblock %}

{% block page_content %}

<div class="container">
    <div class="text-center mt-5 ">
        <h2>Meus Downloads ({{ total_videos_downloaded }})</h2>
    </div>
    <div class="text-center mt-5 ">
        <table class="table table-rounded table-sm  mx-auto " style="max-width: 100%;">
            <thead>
                <tr style="background-color: #226900; color: white;">
                    <th>#</th>
                    <th>Capa</th>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Formato</th>
                    <th>Baixado Em</th>
                    <th></th> <!-- Coluna vazia para o botão "Baixar Novamente" -->
                </tr>
            </thead>
            <tbody>
                <!-- Exemplo de uma linha da tabela -->
                {% for video in downloaded_videos %}
                <tr>
                    <td>{{ video.id }}</td>
                    <td>
                        <img src="{{ video.thumbnail }}" width="254px">
                    </td>
                    <td>
                        <a href="{{ video.url }}" target="_blank"> {{ video.title }} </a>
                    </td>
                    <td>{{ video.author }}</td>
                    <td>{{ video.formato }}</td>
                    <td>{{ video.criado_em }}</td>
                    <td>
                        <form method="post" action="{% url 'index' %}">
                            {% csrf_token %}
                            <input type="hidden" name="video_url" value="{{ video.url }}">
                            <input type="hidden" name="formato" value="{{ video.formato }}">
                            <button class="btn btn-custom btn-sm mx-3" type="submit">Baixar Novamente</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                
                <!-- Adicione mais linhas conforme necessário -->
            </tbody>
        </table>
    </div>
</div>

{% endblock %}